<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - موتور ساخت سفر</title>
    <link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/materialize.css" asp-append-version="true" />

      <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravelEngin.styles.css" asp-append-version="true" />
      <link href="~/fonts/googleFont/icon.css?family=Material+Icons" rel="stylesheet">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">

    
</head>
 <body dir="rtl">
    <div class="navbar-fixed">
 <nav class="green  ">
    <div class="nav-wrapper ">
      <ul id="nav-mobile " class="right " dir="rtl">
        <li><a class="white-text" asp-action="index" asp-controller="Inquiry" >استعلام</a></li>
        <li><a class="white-text" asp-action="KnowledgeBase" asp-controller="Home">پایگاه دانش</a></li>
        <li><a class="white-text" asp-action="ContactUs" asp-controller="Home"> تماس با ما</a></li>
        <li><a class="white-text" asp-action="AboutUs" asp-controller="Home">  درباره ما  </a></li>

      </ul>
    </div>
  </nav>
    </div>
    <div class="container">
        @RenderBody()
        <div class="fixed-action-btn" >
          <a class="btn-floating btn-large waves-effect waves-light red" href="https://wa.link/0u8wa4" target="_blank">
            <i class="large  material-icons">call</i>
          </a>
          @* <ul>
            <li><a asp-action="index" asp-controller="inquery" class="btn waves-effect waves-light btn-long  wav red">درخواست سریع کارشناس</a></li>
            <li><a href="https://wa.link/0u8wa4"  target="_blank" class="btn waves-effect waves-light btn-long larg yellow darken-1">تماس در واتساپ </a></li>
            <li><a href="tel:+989195410188" class="btn waves-effect waves-light btn-long green">تماس با پشتیبانی</a></li>
          </ul> *@
        </div>
    </div>

       <footer class="page-footer black lighten-5">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-texT center"> موتور ساخت سفر</h5>
                <p class="grey-text text-lighten-4">  کارشناس شریف </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul class="details linkIcon">
                  <li><a class="text-lighten-3" asp-action="Privacy" asp-asp-controller="Home"> حریم خصوصی </a></li>
                  <li><a class="text-lighten-3" asp-action="terms"  asp-asp-controller="Home"> شرایط استفاده </a></li>
                  <li><a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=529287&Code=MYJkmjQRtDCel94T9dRZ6n2LZC7Gxxwx'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=529287&Code=MYJkmjQRtDCel94T9dRZ6n2LZC7Gxxwx' alt='' style='cursor:pointer' code='MYJkmjQRtDCel94T9dRZ6n2LZC7Gxxwx'></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container center">
            © 1404 تمامی حقوق  محفوظ است
            </div>
          </div>
           <div class="footer-copyright">
            <div class="container center">
              توسعه و  پشتیبانی توسط : 
            <a class=" text-lighten-4 " href="https:///iranexpedia.ir"> ایران اکسپدیا</a>
            </div>
          </div>
        </footer>
   
     <script src="~/js/materialize.js"></script>

 
    @await RenderSectionAsync("Scripts", required: false)

  </body>
</html>
