@{
    ViewData["Title"] = "تماس با ما";
}


   <div class="row">
    </br></br>
    <div class="col s12 m6 offset-m3">
      <div class="card gray-color">
        <div class="card-content black-text">
          <span class="card-title center"> ارتباط با ما </span>
          </br>
                <p> <strong>آدرس دفتر مرکزی  </strong>      تهران جمال زاده شمالی ، کوچه نادری پلاک 345 واحد 606          </p>
                </br>
                <span class="card-title center"> اطلاعات تماس </span>
                <ul>
                    <li> پست الکترونیک : <a class="black-text" href="info@sharifExperts.ir"> info@sharifExperts.ir </a></li>
                    </br>
                    <li> تلفن تماس : 02165023973 </li>
                     </br>
                    <li > پشتیبانی  واتساپ : <a dir="ltr" class="black-text" href="tel:+989195410188"> +989195410188</a> </li>
                     </br>
                </ul>
        </div>
        @(await Component.InvokeAsync("FooterNav"))
        </div>
      </div>
    </div>
  </div>


    




