@{
    ViewData["Title"] = "کارشناسی خرید و فروش ماشین های اداری";
}


   <div class="row">
    </br></br>
    <div class="col s12 m6 offset-m3">
      <div class="card gray-color">
        <div class="card-content  black-text">
          <p class="center">
          <img src="~/apple-touch-icon.png" class="cetner" width="120" height="120" />
          </p>
          </br>
          <span class="card-title center"> موتور ساخت سفر   </span>
          </br>
          <p >
                    ما در زمینه خرید و فروش ماشین‌های اداری از جمله چاپگرها، دستگاه‌های کپی و اسکنرها تخصص داریم. تیم ما با تجربه و دانش کافی آماده ارائه مشاوره به شما در انتخاب بهترین ماشین‌های اداری مطابق با نیازهای شماست.
                </p>
                <p>
                    خدمات ما شامل ارزیابی و مشاوره در خرید ماشین‌های اداری، بررسی کیفیت دستگاه‌ها، ارائه راهکارهای خرید و فروش بهینه و پشتیبانی پس از فروش است. هدف ما اطمینان از رضایت کامل مشتریان و تأمین نیازهای آن‌ها با بهترین کیفیت و قیمت است.
                </p>
                </br>
                <span class="card-title center">خدمات ما</span>
                <ul>
                    <li>ارزیابی و مشاوره در خرید دستگاه‌های اداری</li>
                    <li>بررسی کیفیت و شرایط دستگاه‌های موجود</li>
                    <li>راهنمایی در انتخاب بهترین گزینه‌ها</li>
                    <li>پشتیبانی و خدمات پس از فروش</li>
                </ul>
        </div>
       @(await Component.InvokeAsync("FooterNav"))
      </div>
    </div>
  </div>

    




