@{
    ViewData["Title"] = " پایگاه دانش  ";
}


   <div class="row">
    </br></br>
    <div class="col s12 m6 ">
      <div class="card gray-color ">
        <div class="card-content white-text">
          <span class="card-title center black-text">  چه پرینتری بخریم  </span>
          </br>
                </br>
                <div id="93496325563"><script type="text/JavaScript" src="https://www.aparat.com/embed/ignfw37?data[rnddiv]=93496325563&data[responsive]=yes"></script></div>        </div>
        @(await Component.InvokeAsync("FooterNav"))
        </div>
      </div>
       <div class="col s12 m6 ">
      <div class="card gray-color">
        <div class="card-content white-text">
          <span class="card-title center black-text">  چه پرینتری بخریم  </span>
          </br>
                </br>
          <div id="75622413131"><script type="text/JavaScript" src="https://www.aparat.com/embed/umtox4b?data[rnddiv]=75622413131&data[responsive]=yes"></script></div>                @(await Component.InvokeAsync("FooterNav"))
        </div>
      </div>
    </div>

    




