@{
    ViewData["Title"] = "سیاست حفظ حریم خصوصی (Privacy Policy)";
}


   <div class="row">
    </br></br>
    <div class="col s12 m6 offset-m3">
      <div class="card gray-color">
        <div class="card-content  black-text">
          <p class="center">
          <img src="~/apple-touch-icon.png" class="cetner" width="120" height="120" />
          </p>
          </br>
          <span class="card-title center">  سیاست حفظ حریم خصوصی (Privacy Policy)   </span>
          </br>
          <p >موتور ساخت سفر به حفاظت از حریم خصوصی شما احترام می‌گذارد. این صفحه توضیح می‌دهد که چگونه اطلاعات شخصی شما جمع‌آوری و استفاده می‌شود.</p>
                </br>
                <ul class="details">
                   <li> <strong>جمع‌آوری اطلاعات : </strong>هنگام ثبت‌ نام، تماس با ما، یا استفاده از خدمات مشاوره‌ای، ممکن است اطلاعاتی مانند نام، ایمیل و شماره تماس شما جمع‌آوری شود. این اطلاعات فقط برای ارائه خدمات بهتر و پاسخ‌گویی به درخواست‌های شما استفاده می‌شود.</li>
                   <li> <strong>استفاده از اطلاعات : </strong>اطلاعات شخصی شما صرفاً برای اهداف زیر استفاده خواهد شد:</li>
                    <ul>
                      <li>ارائه مشاوره‌های تخصصی درباره خرید و فروش ماشین های اداری</li>
                      <li>بهبود خدمات و ارتباط با کاربران</li>
                      <li>اطلاع‌رسانی درباره به‌روزرسانی‌ها و پیشنهادات ویژه</li>
                    </ul>
                   <li> <strong>حفاظت از اطلاعات : </strong>موتور ساخت سفر تدابیر امنیتی لازم را به‌کار می‌گیرد تا اطلاعات شخصی شما در برابر دسترسی‌های غیرمجاز، افشا یا سوءاستفاده محافظت شود.</li>
                   <li> <strong>اشتراک‌گذاری اطلاعات : </strong>اطلاعات شخصی شما تحت هیچ شرایطی به اشخاص ثالث فروخته یا اجاره داده نخواهد شد، مگر با موافقت شما یا در صورت درخواست قانونی از سوی مراجع ذی‌صلاح.</li>
                   <li> <strong>کوکی‌ها (Cookies) : </strong>وب‌سایت موتور ساخت سفر از کوکی‌ها برای بهبود تجربه کاربری شما استفاده می‌کند. شما می‌توانید کوکی‌ها را از طریق تنظیمات مرورگر خود غیرفعال کنید، اما این ممکن است عملکرد برخی بخش‌های سایت را تحت تأثیر قرار دهد.</li>
                   <li> <strong>تغییرات در سیاست حفظ حریم خصوصی :</strong>موتور ساخت سفر حق دارد این سیاست را هر زمان تغییر دهد. توصیه می‌شود به صورت دوره‌ای این صفحه را بررسی کنید.</li>
                 
                </ul>
        </div>
       
        @(await Component.InvokeAsync("FooterNav"))
      </div>
    </div>
  </div>

    




