@{
    ViewData["Title"] = " شرایط استفاده ";
}


   <div class="row">
    </br></br>
    <div class="col s12 m6 offset-m3">
      <div class="card gray-color">
        <div class="card-content  black-text">
          <p class="center">
          <img src="~/apple-touch-icon.png" class="cetner" width="120" height="120" />
          </p>
          </br>
                          <span class="card-title center"> شرایط استفاده</span>

          </br>
          <p class="center">
به وب‌سایت موتور ساخت سفر خوش آمدید. استفاده از خدمات و مشاوره‌های این وب‌سایت به معنای پذیرش شرایط زیر می‌باشد:

                </p>
                </br>
                <ul class="details">
                   <li> <strong>استفاده از خدمات :</strong>تمامی مشاوره‌ها و اطلاعات ارائه شده در وب‌سایت تنها برای راهنمایی در خرید و فروش چاپگر می‌باشد و کاربران موظفند از آن‌ها تنها برای مقاصد قانونی و مرتبط با چاپگرها استفاده کنند.</li>
                   <li><strong>مالکیت معنوی :</strong>تمامی محتواها، مقالات، تصاویر و مطالب موجود در وب‌سایت متعلق به موتور ساخت سفر می‌باشد و هرگونه استفاده غیرمجاز از آن‌ها پیگرد قانونی خواهد داشت.</li>
                   <li><strong>محدودیت مسئولیت :</strong>موتور ساخت سفر هیچ‌گونه مسئولیتی در قبال تصمیمات خرید و فروش چاپگر که بر اساس مشاوره‌های ارائه شده اتخاذ می‌شود، ندارد. کاربران مسئولیت نهایی انتخاب و خرید خود را به عهده دارند.</li>
                   <li><strong>تغییرات در شرایط استفاده :</strong>موتور ساخت سفر حق دارد هر زمان این شرایط را تغییر دهد. توصیه می‌شود کاربران به صورت دوره‌ای این صفحه را مطالعه کنند تا از به‌روزرسانی‌های احتمالی مطلع شوند.</li>
                   <li><strong>لغو یا تغییر خدمات : </strong>موتور ساخت سفر حق دارد هر زمان ارائه خدمات را لغو یا تغییر دهد و هیچ مسئولیتی در قبال پیامدهای ناشی از این تغییرات نخواهد داشت.</li>
                  
                </ul>
        </div>

        @(await Component.InvokeAsync("FooterNav"))
      </div>
    </div>
  </div>

    




